{% extends 'base.html' %} 
{% block title %} HOME {% endblock title %} 
{% block body %}
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="http://127.0.0.1:8000/static/img/1.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div style="position:absolute; top:20%;left:25%; color:white;  ">
        <h1 style="font-size:10rem">IO21</h1>
        <p style="font-size:5rem">Dubai's Best Tech Firm</p>
      </div>
      {% comment %} <div class="carousel-caption d-none d-md-block">
        <div class="position-absolute top-0 start-50 translate-middle">
          <h1>IO21</h1>
          <p>Dubai's Best Tech Firm</p>
          </div>
      </div> {% endcomment %}
    </div>
    <div class="carousel-item">
      <img
        src="http://127.0.0.1:8000/static/img/2.png"
        class="d-block w-100"
        alt="..."
      />
      <div style="position:absolute; top:20%;color:white;padding:2%  ">
        <p style="font-size:2rem">
         IO21 leads the technological aspects of different projects’ needs. We bring a modern touch and provide the right technology to pursue and accomplish the objective.
        </p>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>INNOVATIVE AND CUTTING EDGE TECHNOLOGY</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="http://127.0.0.1:8000/static/img/3.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>MISSION & VISION</h5>
          <h4 data-dsn-animate="up" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="dsn-active">1. Develop innovative and cutting-edge technology <br>
            2. Be powered by intellect and driven by values <br>
            3. Provide simple solutions for complex connections <br></h4>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-aa0cf0e"
            data-id="aa0cf0e"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-534c112 text-center elementor-widget elementor-widget-dsn-service"
                  data-id="534c112"
                  data-element_type="widget"
                  id="service"
                  data-widget_type="dsn-service.default"
                >
                  <div class="elementor-widget-container text-white">
                    <section class="our-services-2">
                      <div class="container">
                        <div class="one-title">
                          <div class="title-sub-container text-white">
                            <p class="title-sub h1 bold pt-5">Our Services</p>
                          </div>
                          <h2 class="title-main text-white">
                            Tech Services &amp; Solutions
                          </h2>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="services-item">
                              <div class="corner corner-top"></div>
                              <div class="corner corner-bottom"></div>
                              <div class="icon">
                                <img
                                  width="150"
                                  height="134"
                                  src="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/SoftwareDevelopment_M.png?resize=150%2C134&amp;ssl=1"
                                  class="attachment-thumbnail size-thumbnail jetpack-lazy-image jetpack-lazy-image--handled"
                                  alt=""
                                  loading="eager"
                                  data-attachment-id="1648"
                                  data-permalink="https://io21.me/io21/softwaredevelopment_m/"
                                  data-orig-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/SoftwareDevelopment_M.png?fit=150%2C134&amp;ssl=1"
                                  data-orig-size="150,134"
                                  data-comments-opened="1"
                                  data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                  data-image-title="SoftwareDevelopment_M"
                                  data-image-description=""
                                  data-image-caption=""
                                  data-medium-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/SoftwareDevelopment_M.png?fit=150%2C134&amp;ssl=1"
                                  data-large-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/SoftwareDevelopment_M.png?fit=150%2C134&amp;ssl=1"
                                  data-lazy-loaded="1"
                                />
                              </div>
                              <div class="services-header text-white">
                                <h3 data-dsn-animate="">
                                  Software Development
                                </h3>
                              </div>
                              <p data-dsn-animate="">
                                Our team manages the technological aspects of
                                projects and creates advanced software that fits
                                our client's needs.
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="services-item">
                              <div class="corner corner-top"></div>
                              <div class="corner corner-bottom"></div>
                              <div class="icon">
                                <img
                                  width="150"
                                  height="134"
                                  src="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/MobileAppDevelopment_M.png?resize=150%2C134&amp;ssl=1"
                                  class="attachment-thumbnail size-thumbnail jetpack-lazy-image jetpack-lazy-image--handled"
                                  alt=""
                                  loading="eager"
                                  data-attachment-id="1646"
                                  data-permalink="https://io21.me/io21/mobileappdevelopment_m/"
                                  data-orig-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/MobileAppDevelopment_M.png?fit=154%2C134&amp;ssl=1"
                                  data-orig-size="154,134"
                                  data-comments-opened="1"
                                  data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                  data-image-title="MobileAppDevelopment_M"
                                  data-image-description=""
                                  data-image-caption=""
                                  data-medium-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/MobileAppDevelopment_M.png?fit=154%2C134&amp;ssl=1"
                                  data-large-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/MobileAppDevelopment_M.png?fit=154%2C134&amp;ssl=1"
                                  data-lazy-loaded="1"
                                />
                              </div>
                              <div class="services-header">
                                <h3 data-dsn-animate="">
                                  Mobile App Development
                                </h3>
                              </div>
                              <p data-dsn-animate="">
                                We develop mobile applications that transfer our
                                client’s ideas onto interactive and easy-to-use
                                platforms that can engage with users.
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="services-item">
                              <div class="corner corner-top"></div>
                              <div class="corner corner-bottom"></div>
                              <div class="icon">
                                <img
                                  width="150"
                                  height="134"
                                  src="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/WebDevelopment_M.png?resize=150%2C134&amp;ssl=1"
                                  class="attachment-thumbnail size-thumbnail jetpack-lazy-image jetpack-lazy-image--handled"
                                  alt=""
                                  loading="eager"
                                  data-attachment-id="1647"
                                  data-permalink="https://io21.me/io21/webdevelopment_m/"
                                  data-orig-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/WebDevelopment_M.png?fit=158%2C134&amp;ssl=1"
                                  data-orig-size="158,134"
                                  data-comments-opened="1"
                                  data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                  data-image-title="WebDevelopment_M"
                                  data-image-description=""
                                  data-image-caption=""
                                  data-medium-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/WebDevelopment_M.png?fit=158%2C134&amp;ssl=1"
                                  data-large-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/WebDevelopment_M.png?fit=158%2C134&amp;ssl=1"
                                  data-lazy-loaded="1"
                                />
                              </div>
                              <div class="services-header">
                                <h3 data-dsn-animate="">Website Development</h3>
                              </div>
                              <p data-dsn-animate="">
                                We create websites that are not only visually
                                appealing but also with the user in mind,
                                delivering seamless user experience.
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="services-item">
                              <div class="corner corner-top"></div>
                              <div class="corner corner-bottom"></div>
                              <div class="icon">
                                <img
                                  width="150"
                                  height="134"
                                  src="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/EcommerceDevelopment_M.png?resize=150%2C134&amp;ssl=1"
                                  class="attachment-thumbnail size-thumbnail jetpack-lazy-image jetpack-lazy-image--handled"
                                  alt=""
                                  loading="eager"
                                  data-attachment-id="1649"
                                  data-permalink="https://io21.me/io21/ecommercedevelopment_m/"
                                  data-orig-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/EcommerceDevelopment_M.png?fit=184%2C134&amp;ssl=1"
                                  data-orig-size="184,134"
                                  data-comments-opened="1"
                                  data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                  data-image-title="EcommerceDevelopment_M"
                                  data-image-description=""
                                  data-image-caption=""
                                  data-medium-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/EcommerceDevelopment_M.png?fit=184%2C134&amp;ssl=1"
                                  data-large-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/EcommerceDevelopment_M.png?fit=184%2C134&amp;ssl=1"
                                  data-lazy-loaded="1"
                                />
                              </div>
                              <div class="services-header">
                                <h3 data-dsn-animate="">
                                  E-commerce Development
                                </h3>
                              </div>
                              <p data-dsn-animate="">
                                IO21 brings business goals to life through
                                developing websites that enable our clients to
                                effectively reach and market their products to
                                customers.
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="services-item">
                              <div class="corner corner-top"></div>
                              <div class="corner corner-bottom"></div>
                              <div class="icon">
                                <img
                                  width="150"
                                  height="134"
                                  src="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/TechnologyConsulting_M.png?resize=150%2C134&amp;ssl=1"
                                  class="attachment-thumbnail size-thumbnail jetpack-lazy-image jetpack-lazy-image--handled"
                                  alt=""
                                  loading="eager"
                                  data-attachment-id="1650"
                                  data-permalink="https://io21.me/io21/technologyconsulting_m/"
                                  data-orig-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/TechnologyConsulting_M.png?fit=168%2C134&amp;ssl=1"
                                  data-orig-size="168,134"
                                  data-comments-opened="1"
                                  data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                  data-image-title="TechnologyConsulting_M"
                                  data-image-description=""
                                  data-image-caption=""
                                  data-medium-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/TechnologyConsulting_M.png?fit=168%2C134&amp;ssl=1"
                                  data-large-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/TechnologyConsulting_M.png?fit=168%2C134&amp;ssl=1"
                                  data-lazy-loaded="1"
                                />
                              </div>
                              <div class="services-header">
                                <h3 data-dsn-animate="">
                                  Technology Consulting
                                </h3>
                              </div>
                              <p data-dsn-animate="">
                                Our experts guide clients through their
                                projects' technological needs and help them find
                                the most effective way to achieve them.
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="services-item">
                              <div class="corner corner-top"></div>
                              <div class="corner corner-bottom"></div>
                              <div class="icon">
                                <img
                                  width="150"
                                  height="134"
                                  src="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/OperationSupport_M.png?resize=150%2C134&amp;ssl=1"
                                  class="attachment-thumbnail size-thumbnail jetpack-lazy-image jetpack-lazy-image--handled"
                                  alt=""
                                  loading="eager"
                                  data-attachment-id="1651"
                                  data-permalink="https://io21.me/io21/operationsupport_m/"
                                  data-orig-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/OperationSupport_M.png?fit=184%2C134&amp;ssl=1"
                                  data-orig-size="184,134"
                                  data-comments-opened="1"
                                  data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                  data-image-title="OperationSupport_M"
                                  data-image-description=""
                                  data-image-caption=""
                                  data-medium-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/OperationSupport_M.png?fit=184%2C134&amp;ssl=1"
                                  data-large-file="https://i0.wp.com/io21.me/wp-content/uploads/2020/07/OperationSupport_M.png?fit=184%2C134&amp;ssl=1"
                                  data-lazy-loaded="1"
                                />
                              </div>
                              <div class="services-header">
                                <h3 data-dsn-animate="">
                                  Onsite &amp; Remote Operation Support
                                </h3>
                              </div>
                              <p data-dsn-animate="">
                                We provide both onsite and remote operation
                                support to enhance your operation performance.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                
                <footer class="bg-dark text-center text-white">
                    <!-- Grid container -->
                    <div class="container p-4 pb-0">
                      <!-- Section: Social media -->
                      <section class="mb-4">
                        <!-- Facebook -->
                        <a class=" btn-floating m-1" href="#!" role="button"
                          ><i class="fab fa-facebook-f">
                        </i>
                    <img src="http://127.0.0.1:8000/static/img/fb.png" width="30" height="30"></a>
                  
                        <!-- Twitter -->
                        <a class=" btn-floating m-1" href="#!" role="button"
                          ><i class="fab fa-twitter"></i
                        ><img src="http://127.0.0.1:8000/static/img/tw.png" width="30" height="30"></a>
                  
                        <!-- Instagram -->
                        <a class=" btn-floating m-1" href="#!" role="button"
                          ><i class="fab fa-instagram"></i
                        ><img src="http://127.0.0.1:8000/static/img/in.png" width="30" height="30"></a>
                  
                        <!-- Linkedin -->
                        <a class=" btn-floating m-1" href="#!" role="button"
                          ><i class="fab fa-linkedin-in"></i
                        ><img src="http://127.0.0.1:8000/static/img/ln.png" width="30" height="30"></a>
                  
                      </section>
                      <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->
                  
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                      © 2022 Copyright:
                      <a class="text-white" href="#">IO21.ME</a>
                    </div>
                    <!-- Copyright -->
                  </footer>


{% endblock body %}